<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title><%= title %></title>
</head>
<body>

    <h3><%= note.title %></h3>
    <p><%= note.body %></p>
    
    <a href="javascript:{document.querySelector('#delete').submit()}">
        <p>Delete this Note</p>
    </a>

    <a href="/notes/<%= note.note_id %>/edit">
        <p>Edit This Note</p>
    </a>

    <a href="/">
        <p>Back Home</p>
    </a>

    <form id="delete" action="/notes/<%= note.note_id %>?_method=DELETE" method="POST"></form>
</body>
</html>